/*GLOBAL STYLES*/
body {

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333; 
  padding-top: 100px;
  }

a{ 
	text-decoration: none;
	color: #fff; }

.clear{
	clear:both; }
/*--------------------------------------*/

.navbar-brand img{
  width: 160px;
}

.now_playing{
  background: black;
  display: inline-block;
}

.now_playing h3{
	margin: 0;
  color: white;
  padding: 6px;  }	

.wrapper p{
	text-align: center; }
/*Start of chat room---------------------*/

.chat-area{ }

.chat-mgs{
	width: 100%;
	height: 20em;
	background: white;
	margin: .75em auto;
  border: solid 4px #00ffd3;
  padding: 15px;
	overflow: auto; }

#chat-input{
	width: 99%;
	height: 3em;
	font-size: 100%;
	background: white;
	margin: .75em auto; }
