 <div class="container">

    <!-- <div class="now_playing"><h3>Playing Now !</h3></div> -->
  <div data-ng-controller="ChatCtrl">
    <div ng-show="showPlaylist">
      <div class="row img-wrapper">

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 "> 
          <a id="loadTracks" href=""><img class="img-responsive" src="img/coffeeeyes.jpg">
            <div class="details"><h4>COFFEE SHOCK</h4></div></a>
        </div>

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 ">
          <a id="loadTracksTwo" href=""><img class="img-responsive" src="img/physical.jpg">
            <div class="details"><h4>GET PHYSICAL</h4></div></a>
        </div>

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 ">
          <a id="loadTracksThree" href=""><img class="img-responsive" src="img/trippy.jpg">
            <div class="details"><h4>TRIPPY</h4></div></a>
        </div>    

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 ">
          <a id="loadTracksFour" href=""><img class="img-responsive" src="img/books.jpg">
            <div class="details"><h4>BOOK SLAVE</h4></div></a>
        </div>

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 " >
          <a id="loadTracksFive" href=""><img class="img-responsive" src="img/discorebel.jpg">
            <div class="details"><h4>DISCO REBEL</h4></div></a>
        </div>

        <div id="nopad" class="col-xs-4 col-sm-4 col-md-2 ">
          <a id="loadTracksSix" href=""><img class="img-responsive" src="img/paradise.jpg">
            <div class="details"><h4>LOST IN PARADISE</h4></div></a>
        </div> 

      </div><!-- End of image-wrapper -->


          <div  id="WidgetHere"></div>
    </div> <!-- End of showPlaylist -->       
  </div> <!-- End of ChatCtrl div -->



    <div class="chat-header"><h3>CHAT ROOM</h3></div>
        <div class="chat-area" data-ng-controller="ChatCtrl">
          <div class="chat-mgs col-md-8" auto-scroll="chat.messages">
            <div ng-cloak ng-repeat="message in chat.messages">
            
              <div class="msg-container">
                <strong>{{message.from}}</strong>:&nbsp;{{message.text}}
                <div class="msg-date">{{message.date}}</div>
              </div>
            </div>
          </div> 

          <div class="row">
            <div class="col-md-4 col-sm-4"><h3>Add a temporary username here:</h3></div>

            <div class="col-md-4 col-sm-4">
              <input type="text" class="form-control" id="chat-username" ng-model="username">
            </div>

            <div class="col-md-4 col-sm-4">
              <input type="text" class="form-control" id="chat-input" ng-model="msgInput" placeholder="Type your message...">
            </div>
            <div class="blue-btn col-md-4"><a data-ng-click="AddMsg()" class="btn btn-block btn-primary btn-lg" href="">S E N D</a></div>
          </div>  

        </div> <!-- End of chat area -->
  <script>

   $("#loadTracks").click(function() {
      console.log("hello")
       SC.oEmbed("http://soundcloud.com/weirdchild/sets/hazy-summer", {color: "00ffd3" , height: 600},  document.getElementById("WidgetHere"));      
   });


   $("#loadTracksTwo").click(function() {
       SC.oEmbed("http://soundcloud.com/weirdchild/sets/coffeeshock", {color: "00ffd3"},  document.getElementById("WidgetHere"));      
   });

  </script>  
        
 </div>  <!-- End of container -->
    