/*GLOBAL STYLES*/
body {

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333; 
  padding-top: 100px; }

a{ 
	text-decoration: none;
	color: #fff; }

/*--------------------------------------*/

.navbar-brand img{
  width: 160px; }

.now_playing{
  background: black;
  display: inline-block; }

.now_playing h3{
	margin: 0;
  color: white;
  padding: 6px; }	

/*Start of chat room---------------------*/

.chat-header h3{
  font-weight: 700; }  

.chat-mgs{
	/*height: 20em;*/
  height: 380px;
	background: white;
	margin: .75em auto;
  border: solid 8px #00ffd3;
  padding: 10px;
	overflow: auto; }

#chat-input{
	height: 5em;
	font-size: 100%;
	background: white;
	margin: 1.5em auto; }

.msg-container{
  border-bottom: 1px solid #dcdcdc;
  padding: 5px; }

.msg-date{
  font-size: 70%;
}   
