 <div class="container">

    <!-- <div class="now_playing"><h3>Playing Now !</h3></div> -->
  <div data-ng-controller="ChatCtrl">
    <div ng-show="showPlaylist">
      <input type="button" id="loadTracks" class="button big" value="HAZY SUMMER" />
      <input type="button" id="loadTracksTwo" class="button big" value="COFFEE SHOCK" />
          <div  id="putTheWidgetHere"></div>
    </div>        
  </div>


    <div class="chat-header"><h3>CHAT ROOM</h3></div>
        <div class="chat-area" data-ng-controller="ChatCtrl">
          <div class="chat-mgs col-md-8" auto-scroll="chat.messages">
            <div ng-cloak ng-repeat="message in chat.messages">
            
              <div class="msg-container">
                <strong>{{message.from}}</strong>:&nbsp;{{message.text}}
                <div class="msg-date">{{message.date}}</div>
              </div>
            </div>
          </div> 

          <div class="row">
            <div class="col-lg-4">
              <div class="add-temp-username"><h3>Add a temporary username here:</h3></div>
              <input type="text" class="form-control" id="chat-username" ng-model="username">
            </div>

            <div class="col-lg-4">
              <input type="text" class="form-control" id="chat-input" ng-model="msgInput" placeholder="Type your message...">
            </div>
            <div class="col-md-1" data-ng-click="AddMsg()"><a class="btn btn-primary btn-lg" href="">S E N D</a></div>
          </div>  

        </div> <!-- End of chat area -->
        <script>
   SC.initialize({
    client_id: "eb5a34240081939292634b9f9009ce8c", 
   });

   $("#loadTracks").click(function() {
      console.log("hello")
       SC.oEmbed("http://soundcloud.com/weirdchild/sets/hazy-summer", {color: "00ffd3" , height: 600},  document.getElementById("putTheWidgetHere"));      
   });


   $("#loadTracksTwo").click(function() {
       SC.oEmbed("http://soundcloud.com/weirdchild/sets/coffeeshock", {color: "00ffd3"},  document.getElementById("putTheWidgetHere"));      
   });

  </script>  

         
 </div>  <!-- End of container -->
    